
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  background: #f6f2ee;
  color: #333;
  line-height: 1.6;
}

nav {
  background: #e9d8df;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 1.4rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}


.hero {
  padding: 60px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 25px;
}

.btn {
  background: #c7b4c2;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.section {
  padding: 50px 20px;
}

.section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}


.grid-3 {
  display: grid;
  gap: 20px;
}



footer {
  text-align: center;
  padding: 25px;
  background: #e9d8df;
  margin-top: 40px;
}




@media (min-width: 900px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero h1 {
    font-size: 3rem;
  }

  nav .menu-toggle {
    display: none;
  }
}


.about-section {
  display: grid;
  gap: 30px;
  align-items: center;
  padding: 50px 20px;
}


.about-section img {
  width: 100%;
  border-radius: 10px;
}


@media (min-width: 700px) {
  .about-section {
    grid-template-columns: 1fr 1fr;
  }
}